// Variables
@blue-color: #3480eb;
@font-family: 'Lato', sans-serif;

// Mixins
.navbox-flex-support {
	display: flex;
	// align-items: center;
	justify-content: space-evenly;
	margin: 2%;
	
}

.flexbox-support {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

.debug-border {
	border: 1px solid red;
}


// LESS CODE STARTS HERE!!!!!!!!!!!!!

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');


// body {
// 	font-family: @font-family;
// }

h1 {
	color: @blue-color;
}



.container {

	
	nav {
		.navbox-flex-support();
	}
	

	.text_flexbox {
		height: 300px;
		margin-bottom: 30px;
		width: 75%;
		
	}

	@media (max-width: 500px) {

	}
}

.personal-info {
	.flexbox-support();
	margin: 1%;
}